﻿<md-dialog class="editor-modal" aria-label="">   
    <md-dialog-content class="editor-container">
        <div class="md-dialog-content warning-checkout-container">
            <h4 class="modal-title">Change password</h4>

            <form name="changePaswordForm" novalidate>
                <input type="hidden" class="form-control" ng-model="$changePasswordModal.image.Id">
                <div class="form-group">
                    <label>Current pssword:</label>
                    <input type="password" name="currentPassword" class="form-control" ng-model="$changePasswordModal.currentPassword" maxlength="50" required>
                    <span class="error-message" ng-show="changePaswordForm.currentPassword.$error.required && changePaswordForm.currentPassword.$dirty">Your current is required.</span>
                </div>   
                <div class="form-group">
                    <label>New password:</label>
                    <input type="password" name="newPassword" class="form-control" ng-model="$changePasswordModal.newPassword" maxlength="50" required>
                    <span class="error-message" ng-show="changePaswordForm.newPassword.$error.required && changePaswordForm.newPassword.$dirty">The new is required.</span>
                </div>  
                <div class="form-group">
                    <label>Confirm new password:</label>
                    <input type="password" name="confirmNewPassword" class="form-control" ng-model="$changePasswordModal.confirmNewPassword" maxlength="50" required>
                    <span class="error-message" ng-show="changePaswordForm.confirmNewPassword.$error.required && changePaswordForm.confirmNewPassword.$dirty">New password confirmation is required.</span>                    
                </div>  
            </form>
            <div ng-repeat="prop in $changePasswordModal.error_message">
                <div class="error-message" ng-repeat="error in prop">
                    {{error}}
                </div> 
            </div> 

            <div class="buttons">
                <button type="button" class="btn btn-default" ng-click="$changePasswordModal.close()"><i class="fa fa-window-close"></i> Close</button>
                <button type="submit" class="btn btn-success" ng-click="$changePasswordModal.change()" ng-disabled="changePaswordForm.currentPassword.$error.required || changePaswordForm.newPassword.$error.required || changePaswordForm.confirmNewPassword.$error.required"><i class="fa fa-save"></i> Save</button>
            </div>            
        </div>
    </md-dialog-content>
</md-dialog>