﻿<md-dialog class="editor-modal" aria-label="">   
    <md-dialog-content class="editor-container">
        <div class="md-dialog-content warning-checkout-container">
            <h4 class="modal-title" ng-if="!$editorModal.user.Id">Add new User</h4>
            <h4 class="modal-title" ng-if="$editorModal.user.Id">Update user</h4>

            <form name="userForm" novalidate>
                <input type="hidden" class="form-control" ng-model="$editorModal.user.Id">
                <div class="form-group">
                    <label>Username:</label>
                    <input type="text" ng-disabled="$editorModal.user.Id && $editorModal.user.UserName != $editorModal.activeUserName" name="User" class="form-control" ng-model="$editorModal.user.UserName" maxlength="50" required>
                    <span class="error-message" ng-show="userForm.User.$error.required && userForm.User.$dirty">Username is required.</span>
                </div>    
                <div class="form-group">
                    <label>Email:</label>
                    <input type="text" name="Email" class="form-control" ng-model="$editorModal.user.Email" maxlength="50" required>
                    <span class="error-message" ng-show="userForm.Email.$error.required && userForm.Email.$dirty">Email is required.</span>
                </div>   
                
                <div class="form-group" ng-if="!$editorModal.user.Id">
                    <label>Password:</label>
                    <input type="password" name="newPassword" class="form-control" ng-model="$editorModal.user.newPassword" maxlength="50" required>
                    <span class="error-message" ng-show="userForm.newPassword.$error.required && userForm.newPassword.$dirty">The new is required.</span>
                </div>
                <div class="form-group" ng-if="!$editorModal.user.Id">
                    <label>Confirm password:</label>
                    <input type="password" name="confirmNewPassword" class="form-control" ng-model="$editorModal.user.confirmNewPassword" maxlength="50" required>
                    <span class="error-message" ng-show="userForm.confirmNewPassword.$error.required && userForm.confirmNewPassword.$dirty">New password confirmation is required.</span>
                </div>  

                <div class="form-group">
                    <label>Gender:</label>
                    <select name="Gender" ng-model="$editorModal.user.Gender">
                        <option value="M">M</option>
                        <option value="F">F</option>
                    </select>
                </div>    
                <div class="form-group">
                    <label>Status:</label>
                    <select name="Status" ng-model="$editorModal.user.Status">
                        <option value="active">Active</option>
                        <option value="inactive">Inactive</option>
                    </select>
                </div>    
            </form>
            <div ng-repeat="prop in $editorModal.error_message">
                <div class="error-message" ng-repeat="error in prop">
                    {{error}}
                </div>
            </div> 
            <div class="buttons">
                <button type="button" class="btn btn-default" ng-click="$editorModal.close()"><i class="fa fa-window-close"></i> Close</button>
                <button type="submit" class="btn btn-success" ng-click="$editorModal.save()" ng-disabled="userForm.User.$error.required || userForm.Email.$error.required"><i class="fa fa-save"></i> Save</button>
            </div>             
        </div>
    </md-dialog-content>
</md-dialog>