﻿@import 'users.scss';
@import "usersEditorModal";

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #f3f3f4;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

