﻿.panel-users {
  background-color: white;
  border-radius: 5px;
  color: #676a6c;
  padding-bottom: 80px; }
  .panel-users .error-message {
    color: red;
    margin-bottom: 15px; }
  .panel-users .top-section {
    padding-top: 15px; }
  .panel-users .header {
    margin: 5px 10px;
    margin-top: 20px; }
    .panel-users .header .button-container {
      float: right;
      margin-top: 10px; }
      .panel-users .header .button-container .button {
        display: inline-block;
        cursor: pointer;
        margin-left: 30px;
        color: green; }
    .panel-users .header .titles {
      font-weight: 400; }
  .panel-users .content {
    margin: 5px 10px; }
    .panel-users .content .actions {
      padding-left: 10px;
      text-align: center; }
    .panel-users .content button {
      width: 30px;
      height: 30px;
      line-height: 30px;
      padding: 0;
      margin: 0; }
    .panel-users .content .details {
      line-height: 34px;
      font-size: 14px; }
    .panel-users .content:nth-child(even) {
      background-color: #f7f7f7;
      border-top: 1px solid #e7eaec;
      border-bottom: 1px solid #e7eaec; }
  .panel-users .no-wrap {
    display: inline-block;
    width: 80%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis; }

.editor-modal {
  width: 600px; }
  .editor-modal .editor-container {
    overflow: hidden; }
  .editor-modal .error-message {
    color: red;
    font-size: 12px; }
  .editor-modal .modal-title {
    margin-bottom: 15px; }
  .editor-modal .text-area {
    margin: 0 15px;
    height: 200px; }
  .editor-modal .buttons {
    margin-top: 7px; }

body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #f3f3f4;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; }

