﻿.editor-modal {
    .editor-container {
        overflow: hidden;
    }

    .error-message {
        color: red;
        font-size: 12px;
    }

    width: 600px;

    .modal-title {
        margin-bottom: 15px;
    }

    .text-area {
        margin: 0 15px;
        height: 200px;
    }

    .buttons {
        margin-top: 7px;
    }
}
