﻿<div class="panel-users container">
    <div class="row top-section">  
        <div class="col-md-12 text-center">
            <h2>Users application</h2>
        </div>
    </div>
    <div class="header">
        <div class="container">           
            <div class="row">    
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h4 class="modal-title">Log in</h4>
                    <form name="loginForm" novalidate>
                        <div class="form-group">
                            <label>User Name:</label>
                            <input type="text" name="UserName" class="form-control" ng-model="$ctrl.UserName" maxlength="50" required>
                            <span class="error-message" ng-show="loginForm.UserName.$error.required && loginForm.UserName.$dirty">User name is required.</span>
                        </div>
                        <div class="form-group">
                            <label>Password:</label>
                            <input type="password" name="Password" class="form-control" ng-model="$ctrl.Password" maxlength="50" required>
                            <span class="error-message" ng-show="loginForm.Password.$error.required && loginForm.Password.$dirty">The password is required.</span>
                        </div>

                        <div class="error-message">{{$ctrl.error_message}}</div>                        
                        <button type="button" class="btn btn-success" ng-disabled="loginForm.UserName.$error.required || loginForm.Password.$error.required" ng-click="$ctrl.redirectToUsersView($ctrl.UserName, $ctrl.Password)">Log in</button>
                    </form>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>   
</div>
