﻿<div class="panel-users container">
    <div class="header">        
        <div class="button-container">
            <div class="button" ng-click="$ctrl.showChangePasswordModal()">
                Change password
            </div>
            <div class="button" ng-click="$ctrl.logout()">
                Logout
            </div>
        </div>        
    </div>
    <div class="row top-section">         
        <div class="col-lg-4 col-md-5">
           <button type="button" class="btn btn-success d-inline" ng-click="$ctrl.showModal()"><i class="fa fa-plus">&nbsp;</i> Add New</button>           
        </div>
        <div class="col-md-2 offset-lg-1">
            <h2>Users</h2>
        </div>
    </div>
    <div class="row header">
        <div class="col-md-2">
            <div class="titles">Id</div>
        </div>
        <div class="col-md-3">
            <div class="titles">UserName</div>
        </div>
        <div class="col-md-3">
            <div class="titles ">Email</div>
        </div>
        <div class="col-md-1">
            <div class="titles">Gender</div>
        </div>
        <div class="col-md-1">
            <div class="titles ">Status</div>
        </div>
        <div class="col-md-2">
            <div class="titles text-center">Actions</div>
        </div>
    </div>
    <div class="row content" ng-repeat="user in $ctrl.users">
        <div class="col-md-2">
            <div class="details">{{user.Id}}</div>
        </div>
        <div class="col-md-3">
            <div class="details no-wrap">{{user.UserName}}</div>
        </div>
        <div class="col-md-3 no-wrap">
            <div class="details no-wrap">{{user.Email}}</div>
        </div>
        <div class="col-md-1 no-wrap">
            <div class="details no-wrap">{{user.Gender}}</div>
        </div>
        <div class="col-md-1 no-wrap">
            <div class="details" ng-if="user.IsActive">Active</div>
            <div class="details" ng-if="!user.IsActive">Inactive</div>
        </div>
        <div class="col-md-2">
            <div class="actions details">
                <button class="btn btn-xs btn-success" ng-click="$ctrl.showModal(user)"><i class="fa fa-edit"></i></button>
                <button class="btn btn-xs" ng-click="$ctrl.changeStatus(user.Id, user.IsActive)" ng-if="$ctrl.userName != user.UserName">
                    <i class="fa fa-star" style="color: green;" ng-if="user.IsActive"></i>
                    <i class="fa fa-star" style="color: white;" ng-if="!user.IsActive"></i>
                </button>
                <div class=""></div>
                <div class=""></div>
            </div>
        </div>
    </div>
</div>
